@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --sidebar-width: 230px;
    --sidebar-width-sm: 115px;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::-webkit-color-swatch {
    border: none;
    border-radius: 100%;
}

body {
    background-color: #F7F8FA;
}

@layer components {
    .input {
        @apply px-3 py-2 text-sm md:text-base md:px-4 md:py-2 border-black border-solid border-[1px] outline-none rounded-md 
    }

    .errorMessage {
        @apply p-2 text-red-500 text-[14px]
    }
}

@layer utilities {
    .disable {
        @apply bg-gray-200
    }

}